 html { 
     font-size:62.5%;
 }

 
 body {
	  background-color:white;
	font-family:Century Gothic;
    text-align:justify;
    font-size:1.8rem;
	}

/*grid page*/

	.sidebar {
        grid-area: sidebar;
    }

    .sidebar_produit {
        grid-area: sidebar_produit;
        background-color: lightseagreen;
    }

    .back {
	    grid-area: back;
	}

    .wrapper_content {
        grid-area: wrapper_content;
    }

    .footer {
        grid-area: footer;
    }

    .wrapper_contact {
        grid-area: wrapper_contact;
    }

    .wrapper, .wrapper2, .wrapper3, .wrapper4 {
        background-color: #fff;
        color: #444;
    }

  .wrapper {
    position: absolute;
    left : 0;
    top : 0;
    bottom: 0;
    display: grid;
    grid-template-areas:
     "sidebar"
     "back"
     "wrapper_content"
     "footer"
  }

  .wrapper2 {
    position: absolute;
    left : 0;
    top : 0;
    bottom: 0;
    display: grid;
    grid-template-areas:
     "sidebar"
     "back"
     "wrapper_contact"
     "footer"
  }

  .wrapper3 {
    position: absolute;
    left : 0;
    top : 0;
    bottom: 0;
    display: grid;
    grid-template-areas:
     "sidebar"
     "back"
     "sidebar_produit"
     "wrapper_content_produit"
     "footer"
  }

  .wrapper4 {
    position: absolute;
    left : 0;
    top : 0;
    bottom: 0;
    display: grid;
    grid-template-areas:
     "sidebar"
     "back"
     "wrapper_content_cctp"
     "footer"
  }

  .wrapper_contact {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
    "contacter"
    "form" 
    "img_footer"
  }

 /*grid contenu*/
  .content_presentation {
      grid-area: content_presentation;
  }

 .content {
     grid-area: content;
 }

 .content2 {
     grid-area: content2;
 }

 .content3 {
     grid-area: content3;
 }

 .content_fin_presentation {
     grid-area: content_fin_presentation;
 }

 #img_presentation {
     grid-area: img_presentation;
 }

 #img1 {
     grid-area: img1;
 }

 #img2 {
     grid-area: img2;
 }

 #img3 {
     grid-area: img3;
 }

 #img_fin_presentation {
     grid-area: img_fin_presentation;
 }


  .wrapper_content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 15%;
    margin-right: 15%;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
     "content_presentation img_presentation"
     "img1 content"
     "content2 img2"
     "img3 content3"
     "content_fin_presentation img_fin_presentation"
     "img_footer img_footer"
  }


/* Menu */
	article h1 {
		border-bottom : 2px solid green;
	}

    #entete {
       position: absolute;
       left:0; 
       top:0;
       width:15%;
    }

    #background {   
        width:100%;
        opacity: 80%;
        transition-duration: 1s;
    }

    #background:hover {
        opacity: 100%;
        transition-duration: 1s;
    }
	
	.sidebar {
		padding:0;
		background-color:white;
	}
	
	#menu {
	display:inline-block;
	padding:1%;
	font-size:2.5rem;	
	text-align:center;
	width:98%;

}

#menu li {
	display:inline;
	margin : 1%;
}

li a {
	text-decoration:none;
    color:green;
}

li :hover {
    color: black;
}

/*contenu*/

.imgarticle {
   width: 80%;
   margin-left: 10%;
}

#article_presentation, #article1, #article2, #article3, #article_fin_presentation {
    margin-left: 5%;
	margin-right:5%;
}

.box {
    
}

/* Pied de page */
.footer {
    background-color:green;
    color:white;
    width:100%;
    text-align: center;
}

.form {
    grid-area: form;
    border: 3px solid green;
}

.contacter {
    grid-area: contacter;
    border : 3px solid green;   
}

.img_footer {
    grid-area: img_footer;
    width: 100%;
}

input, textarea{
    font-size:2.4rem;
    border-radius:5px;
    text-align:center;
    margin-bottom: 2%;
    padding: 1%;
    width : 80%;
    }
   
textarea {
    font-size: 1.8rem;
    }

#inputBouton {
    border : 2px solid black;
    background-color: azure;
    color: green;
    font-weight: bold;
    width: 50%;
    margin-top: 5%;
    transition-duration: 0.5s;
}

#inputBouton:hover {
    background-color: green;
    color: white;
    transition-duration: 0.5s;
}

/*page produits*/

#menu_produit {
    display:inline-block;
	padding:1%;
	font-size:1.5rem;	
	text-align:center;
	width:98%;
}

#menu_produit li {
	display:inline;
    margin : 1%;
}

#menu_produit li a {
    text-decoration:none;
    font-weight: bold;
    color:white;  
    transition-duration: 0.5s;  
}

#menu_produit li :hover {
    color:black;
    transition-duration: 0.5s;
}

#wrapper_content_produit {
    grid-area: wrapper_content_produit; 
}

#title_tertiaire {
    grid-area: title_tertiaire;
}

#img_tertiaire {
    grid-area: img_tertiaire;
}

#title_scolaire {
    grid-area: title_scolaire;
}

#img_scolaire {
    grid-area: img_scolaire;
}

#title_association {
    grid-area: title_association;
}

#img_association {
    grid-area: img_association;
}

#title_bailleur {
    grid-area: title_bailleur;
}

#img_bailleur {
    grid-area: img_bailleur;
}

#title_location {
    grid-area: title_location;
}

#img_location {
    grid-area: img_location;
}

#title_agricole {
    grid-area: title_agricole;
}

#img_agricole {
    grid-area: img_agricole;
}

.wrapper_content_produit {
    text-align:center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-gap: 1rem;
    grid-template-areas:
    "title_tertiaire   title_scolaire   title_association"
    "img_tertiaire   img_scolaire   img_association"
    "title_bailleur   title_location   title_agricole"
    "img_bailleur   img_location   img_agricole"
    "img_footer  img_footer   img_footer"
  }

  .back_produit {
    width:70%;
    opacity: 60%;
    transition-duration: 1s;
    border-radius: 10rem;;
  }

  .back_produit:hover {
      opacity: 100%;
      transition-duration: 1s;
  }

  .title {
      font-weight: bold;
      margin-bottom: 0;
	  font-size:1.5rem;
  }

  /*page cctp*/

  .wrapper_content_cctp {
      grid-area: wrapper_content_cctp;
      display: grid;
      margin-top: 2rem;
      margin-bottom: 2rem;
      grid-gap: 1rem;
      grid-template-areas:
      "content1_cctp"
      "content2_cctp" 
      "content3_cctp"
      "content4_cctp"
      "content5_cctp"
      "img_footer"
  }


  .content1_cctp {
      grid-area: content1_cctp;
      background-color:white;
      padding-left: 15rem;
      padding-right: 15rem;
  }

  .content2_cctp {
      grid-area: content2_cctp;
      background-color: #d7fce1;
      padding-left: 15rem;
      padding-right: 15rem;
      transition-duration: 1s;
  }

  .content3_cctp {
      grid-area: content3_cctp;
      background-color:white;
      padding-left: 15rem;
      padding-right: 15rem;
  }

  .content4_cctp {
      grid-area: content4_cctp;
      background-color:#d7fce1;
      padding-left: 15rem;
      padding-right: 15rem;
      transition-duration: 1s;
  }

  .content5_cctp {
      grid-area: content5_cctp;
      background-color:white;
      padding-left: 15rem;
      padding-right: 15rem;
  }

  .content2_cctp:hover, .content4_cctp:hover {
        background-color:#b3f5bc;
        transition-duration: 1s;
  }
  